<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cowthan.sample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.cowthan.sample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.cowthan.sample.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ayo.app.base.TmplActivityStandard"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AyoTransparentTheme" />

        <activity
            android:name="org.ayo.app.base.TmplActivitySingleTask"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AyoTransparentTheme" />

        <activity
            android:name="org.ayo.app.base.TmplActivitySingleTop"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AyoTransparentTheme" />

        <activity
            android:name="org.ayo.app.base.TmplActivitySingleInstance"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AyoTransparentTheme" />

        <activity
            android:name="com.snowy.demo.zfragment.FragmentCommunActivity"
            android:theme="@style/AyoAppTheme"
            />

        <activity
            android:name="com.ayo.opensource.zlayout.DemoScrollDownActivity"
            android:theme="@style/AyoAppTheme"
        />

        <activity
            android:name="com.snowy.demo.zviewpager.ViewPagerMainActivity"
            />
            <!--android:theme="@style/AyoAppTheme"-->
        <activity
            android:name="com.snowy.demo.zanimation.FrameAnimateActivity"
            />

        <activity
            android:name="com.snowy.demo.zanimation.PropertyAnimateActivity"
            />

        <activity
            android:name="com.snowy.demo.zanimation.TweenAnimateActivity"
            />

    </application>

</manifest>
